@page "/Cart"
@model EStalls.Pages.Purchase.CartModel
@{
}

<ul class="list-unstyled">
    @foreach (var item in Model.Items)
    {
        <li class="media">
            <figure class="mr-3">
                <a asp-page="/Item/Index" asp-route-ItemId="@item.ItemId">
                    <img src=@item.ThumbnailPath alt="@item.Title" width="62" />
                </a>
            </figure>
            <div class="media-body">
                <h5>
                    <a asp-page="/Item/Index" asp-route-ItemId="@item.ItemId">@item.Title</a>
                </h5>
                <p>
                    @* TODO: ユーザープロフィールページができたら、そこへ飛ばす *@
                    @* <a asp-page="/Profile" asp-route-ItemId="@item.SellerId">@item.SellerName</a> *@
                    <a href="#">@item.SellerName</a>
                </p>
                <span>@item.Price.ToString("C0")</span>
                <form method="post">
                    <button type="submit" class="btn btn-danger" asp-page-handler="DeleteItem" asp-route-ItemId="@item.ItemId">削除</button>
                </form>
            </div>
        </li>
    }
</ul>

<dl>
    <dt>合計</dt>
    <dd>
        <strong>@Model.TotalAmount.ToString("C0")</strong>
    </dd>
</dl>

<a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="/Purchase/Payment" class="btn btn-primary">次へ</a>