@page "/User/Purchase"
@model EStalls.Pages.User.PurchaseModel
@{
}

<h1>購入作品一覧</h1>

<ul class="list-unstyled">
    @foreach (var item in Model.Items)
    {
        <li class="media">
            <figure class="mr-3">
                <a asp-page="/Item/Index" asp-route-ItemId="@item.ItemId">
                    <img src=@item.ThumbnailPath alt="@item.Title" width="62"/>
                </a>
            </figure>
            <div class="media-body">
                <h5>
                    <a asp-page="/Item/Index" asp-route-ItemId="@item.ItemId">@item.Title</a>
                </h5>
                <p>
                    @* TODO: ユーザープロフィールページができたら、そこへ飛ばす *@
                    @* <a asp-page="/Profile" asp-route-ItemId="@item.SellerId">@item.SellerName</a> *@
                    <a href="#">@item.SellerName</a>
                </p>
                <span>@item.Price.ToString("C0")</span>
                <ul class="list-unstyled">
                    @foreach (var dlInfo in item.DlInfos)
                    {
                        var dlFileNames = dlInfo.DlFileNames.Split(Constants.StringSeparator.DlFileNames);
                        
                        <li>
                            <h5>Version @dlInfo.Version</h5>
                            <ul class="list-unstyled">
                                @foreach (var dlFileName in dlFileNames)
                                {
                                    var dlLink = $"/{Constants.DirNames.ItemDlFiles}/{dlInfo.Id}/{dlFileName}";

                                    <li>
                                        <a href="@dlLink" download="@dlFileName">@dlFileName</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
                
                <hr/>
            </div>
            
        </li>
    }
</ul>