@page
@model EStalls.Pages.Search.UsersModel
@{
}


<div class="card-columns justify-content-start pt-3 px-2">
    @foreach (var appUser in Model.AppUsers)
    {
        <figure class="card border-dark" style="max-width: 18rem;">
            <a asp-page="/User/Profile" asp-route-Uid="@appUser.Id">
                <img class="card-img-top"
                     src=@($"/{Constants.DirNames.UserFiles}/{appUser.Id}/{Constants.FileNames.ProfileFileName}.png")
                     alt="@appUser.DisplayName"/>
            </a>
            <figcaption class="card-body">
                <h5 class="card-title"><a asp-page="/User/Profile" asp-route-Uid="@appUser.Id" class="text-dark">@appUser.DisplayName</a></h5>
                <p class="card-text text-dark">@appUser.DisplayName</p>
            </figcaption>
        </figure>
    }
</div>